*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /*
    Short-hand Bacgroud
    backgroud: ; color image position repeat [size] attachement
    */

    background: darkblue url('imagens/espaco-1200.jpg') center center no-repeat fixed;
    background-size: cover;
}
img{
    min-height: 160px;
    min-width: 240px;
    max-height: 300px;
    max-width: 300px;
    height: 40%;
    width: 40%;
}